<svg class='flag'>
  <use href='{{flags.svg}}'></use>
</svg>
<h2>{{name.official}}</h2>
<p> <span class='bold-text'>Capital:</span>{{capital}}</p>
<p><span class='bold-text'>Poppulation:</span>{{population}}</p>
<p><span class='bold-text'>Languages: </span>{{languages}}</p>